//- type:'v2.3',op:false,display:0.23,price:10
h1 create new smart
form(method='POST' action='/create')
    p type 
    input(type='text' name='type')
    p op 
    input(type='text' name='op')
    p display 
    input(type='text' name='display')
    p price
    input(type='text' name='price')
    button(type='submit') create 

a(href="/") exit 