head
    link(rel="stylesheet", href="/smartStyle.css")
    title Smart Shopify

div(id='main')
    div(id='main-block')
        h1 о нас 
        p Вы ищете стильные и функциональные часы, которые подчеркнут вашу индивидуальность и помогут вам контролировать свою активность и здоровье? Тогда вы попали по адресу! Наш интернет-магазин предлагает вам широкий выбор часов и смарт-часов от лучших производителей мира, таких как Apple, Samsung, Xiaomi, Huawei, Amazfit и других. У нас вы найдете модели разного дизайна, размера, цвета и ценовой категории, которые подойдут для любого случая и стиля. Наши часы и смарт-часы обладают высоким качеством, надежностью, долговечностью и удобством использования. Они оснащены современными технологиями, такими как GPS, NFC, Wi-Fi, Bluetooth, датчики сердечного ритма, кислорода в крови, стресса и сна, а также множеством спортивных и фитнес-режимов. Вы сможете синхронизировать свои часы и смарт-часы с вашим смартфоном, получать уведомления о звонках, сообщениях, погоде и новостях, а также управлять музыкой, камерой и другими приложениями. Наши часы и смарт-часы - это не только удобный аксессуар, но и полезный помощник, который поможет вам следить за своим здоровьем и достигать своих целей. Заказывайте часы и смарт-часы в нашем интернет-магазине и получайте быструю и бесплатную доставку по всей России. С нашими часами и смарт-часами вы всегда будете в курсе времени и своего состояния!
        a(href='/') exit
div 
    img(src="/smart.png",id='img', alt="smart" , width='100%',height='100%')
